name: Install Arvados-CLI (+ RocheCert + Conda)
on: 
  push:
    paths:
    - 'Dockerfile.RocheCertConda'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build and publish on Dockerhub
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: matmu/arvados-cli
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
        dockerfile: Dockerfile.RocheCertConda
        tags: "RocheCertConda"
